.BadgesList ul>li {
  margin-bottom: 1rem;
}

.BadgesListItem {
  background: #FFFFFF;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.23);
  border-radius: 5px;
  padding: 1rem;
}

.BadgesListItem a {
  display: flex;
}

.BadgesListItem__avatar {
  border-radius: 50%;
  background: #a3a3a3;
  margin-right: 0.5rem;
  width: 80px;
  height: 80px;
}

.Twitter__name {
  color: #57a6d0;
}

.Twitter__logo {
  display: inline-block;
  background: url(../../images/Twitter_Logo_Blue.svg);
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.3rem;
  vertical-align: bottom;
}

.Twitter__name ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.Twitter__name ul li {
  display: inline-block;
  margin: 0;
  padding: 0;
}